# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
00204.jpg
vutinfth-master/vutinfth-master/example_v4.pdf
vutinfth-master/vutinfth-master/last.pdf
vutinfth-master/vutinfth-master/graphics/4/21/00204_wiener.jpg
vutinfth-master/vutinfth-master/graphics/4/21/00204_threshold.jpg
vutinfth-master/vutinfth-master/graphics/4/21/00204_result.jpg
vutinfth-master/vutinfth-master/graphics/4/21/00204_orig_small.jpg
vutinfth-master/vutinfth-master/graphics/4/21/00204_enhnace.jpg
vutinfth-master/vutinfth-master/graphics/4/21/00204_denoise.jpg
vutinfth-master/vutinfth-master/graphics/4/21/00204_bi5_small.jpg
vutinfth-master/vutinfth-master/graphics/4/21/00204_bi5.jpg
vutinfth-master/vutinfth-master/DA_1325492.pdf
vutinfth-master/vutinfth-master/prrofread2.tex
vutinfth-master/vutinfth-master/prrofread1.tex
vutinfth-master/vutinfth-master/graphics/4/25/00025_result.jpg
vutinfth-master/vutinfth-master/graphics/4/25/00025_orig_small.jpg
vutinfth-master/vutinfth-master/graphics/4/25/00025_enhnace.jpg
vutinfth-master/vutinfth-master/graphics/4/25/00025_denoise.jpg
vutinfth-master/vutinfth-master/graphics/4/25/00025_bi5_small.jpg
vutinfth-master/vutinfth-master/graphics/4/25/00025_bi5.jpg
vutinfth-master/vutinfth-master/graphics/4/25/00025.jpg
vutinfth-master/vutinfth-master/graphics/4/239/00239_wiener.jpg
vutinfth-master/vutinfth-master/graphics/4/239/00239_threshold.jpg
vutinfth-master/vutinfth-master/graphics/4/239/00239_result.jpg
vutinfth-master/vutinfth-master/graphics/4/239/00239_orig_small.jpg
vutinfth-master/vutinfth-master/graphics/4/239/00239_enhnace.jpg
vutinfth-master/vutinfth-master/graphics/4/239/00239_denoise.jpg
vutinfth-master/vutinfth-master/graphics/4/239/00239_bi5_small.jpg
vutinfth-master/vutinfth-master/graphics/4/239/00239_bi5.jpg
vutinfth-master/vutinfth-master/graphics/4/239/00239.jpg
vutinfth-master/vutinfth-master/graphics/4/239/000239.jpg
vutinfth-master/vutinfth-master/graphics/4/233/00233_wiener.jpg
vutinfth-master/vutinfth-master/graphics/4/233/00233_threshold.jpg
vutinfth-master/vutinfth-master/graphics/4/233/00233_orig_small.jpg
vutinfth-master/vutinfth-master/graphics/4/233/00233_enhnace.jpg
vutinfth-master/vutinfth-master/graphics/4/233/00233_denoise.jpg
vutinfth-master/vutinfth-master/graphics/4/233/00233_bi5_small.jpg
vutinfth-master/vutinfth-master/graphics/4/233/00233_bi5.jpg
vutinfth-master/vutinfth-master/graphics/4/233/00233.jpg
vutinfth-master/vutinfth-master/graphics/4/223/00223_wiener.jpg
vutinfth-master/vutinfth-master/graphics/4/223/00223_threshold.jpg
vutinfth-master/vutinfth-master/graphics/4/223/00223_result.jpg
vutinfth-master/vutinfth-master/graphics/4/223/00223_orig_small.jpg
vutinfth-master/vutinfth-master/graphics/4/223/00223_enhnace.jpg
vutinfth-master/vutinfth-master/graphics/4/223/00223_denoise.jpg
vutinfth-master/vutinfth-master/graphics/4/223/00223_bi5_small.jpg
vutinfth-master/vutinfth-master/graphics/4/223/00223_bi5.jpg
vutinfth-master/vutinfth-master/graphics/4/25/00025_wiener.jpg
vutinfth-master/vutinfth-master/graphics/4/25/00025_threshold.jpg
vutinfth-master/vutinfth-master/graphics/4/233/00233_result.jpg
vutinfth-master/vutinfth-master/graphics/4/223/00223.jpg
